* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

.title {
    display: inline-block;
    vertical-align: middle;

}

.logo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 10px;
}

.container {
    padding-top: 100px;
    max-width: 800px;
    margin: 0 auto;

}

.task {
    width: 71px;
    height: 25px;
    background-color: rgb(20, 170, 245);
    border-radius: 5px;
    color: white;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
}

.section {
    background-color: white;
    border: 1px solid #8080808a;
    color: #8080808a;
    border-radius: 5px;
    width: 87px;
    height: 25px;
    display: inline-block;
    font-size: 13px;
    line-height: 25px;
    text-align: center;

}