* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: rgba(244, 244, 244, 0.849);
    padding: 50px;

}

/* titolo with logo */
.title {
    display: inline-block;
    vertical-align: middle;

}

.logo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 10px;
}

/* /title with logo */

/* first part container with all the features */

.container {

    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid rgba(244, 244, 244, 0.849);
    border-radius: 5px;
    padding-left: 50px;
    padding top: 8px;

}

.task {
    width: 71px;
    height: 25px;
    background-color: rgb(20, 170, 245);
    border-radius: 5px;
    color: white;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    margin: 15px;
}

.section {
    background-color: white;
    border: 1px solid #8080808a;
    color: #8080808a;
    border-radius: 5px;
    width: 87px;
    height: 25px;
    display: inline-block;
    font-size: 13px;
    line-height: 25px;
    text-align: center;

}


.new-task {
    margin-top: 30px;
}

.circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid #65d5c2;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    color: #65d5c2;
}


.text {
    color: #434851;
    margin-top: 10px;
    display: inline-block;
    padding: 8px;

}

.editorial {
    display: inline-block;
    background-color: #09a9ed;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    color: white;
    width: 59px;
    height: 20px;
    line-height: 20px;

}

/*/first part container with all the features */

/* different style of the second part */

.Q1-goals {
    background-color: #ab5de6;
}

.recruiting {
    background-color: #2cc6ab;
}

.mobile {
    background-color: #ff9b00;
    width: 48px;
    height: 23px;
}

.red {
    border: 1px solid #ff6565;
    color: #ff6565;
}

/* /different style of the second part */

/* /different style of the third partt */
.website {
    background-color: #ec4a9d;

}

.sales {
    background-color: #a3d116;
}